<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <img src="assets/images/AGS-logo_trans-copy.png" alt="img not found">
            <h6 class="company_title">“Enable, Innovate, Transform”</h6>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid" *ngIf="!(isRegistered)">
                <div class="row">
                    <h2>Log In</h2>
                </div>
                <div class="row">
                    <form class="form-group" name="form" (ngSubmit)="f.form.valid && userLogin()" #f="ngForm" novalidate
                        autocomplete="off">
                        <div class="form-group">
                            <!-- <label for="userName">User Name</label> -->
                            <input type="text" class="form-control form__input" name="userName"
                                placeholder="Enter your mail" [(ngModel)]="loginModal.userName" #userName="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required />
                            <div *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
                                <div *ngIf="userName.errors?.required">Email is required</div>
                                <div *ngIf="userName.errors?.email">Email must be a valid email address</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- <label for="password">Password</label> -->
                            <input type="password" class="form-control form__input" placeholder="Enter password"
                                name="password" [(ngModel)]="loginModal.password" #password="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                <div *ngIf="password.errors?.required">Password is required</div>
                                <div *ngIf="password.errors?.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="col text-center">
                            <input type="submit" value="Log in" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <p>Don't have an account? <span class="span-link" (click)="registerHere()">Register Here</span></p>
                </div>
            </div>
            <!-- Register Start here -->
            <div class="container-fluid" *ngIf="isRegistered">
                <div class="row">
                    <h2>Register</h2>
                </div>
                <div class="row">
                    <form class="form-group" name="form" (ngSubmit)="registerForm.form.valid && userRegister()" #registerForm="ngForm" novalidate
                        autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control form__input" placeholder="Enter name" name="name"
                                [(ngModel)]="loginModal.name" #name="ngModel"
                                [ngClass]="{ 'is-invalid': registerForm.submitted && name.invalid }" required />
                            <div *ngIf="registerForm.submitted && name.invalid" class="invalid-feedback">
                                <div *ngIf="name.errors?.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form__input" name="email"
                                placeholder="Enter your mail" [(ngModel)]="loginModal.email" #email="ngModel"
                                [ngClass]="{ 'is-invalid': registerForm.submitted && email.invalid }" required email />
                            <div *ngIf="registerForm.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors?.required">Email is required</div>
                                <div *ngIf="email.errors?.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group">                            
                            <input type="text" class="form-control form__input"  placeholder="Enter your city name" name="city" [(ngModel)]="loginModal.city" #city="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && city.invalid }" required />
                            <div *ngIf="registerForm.submitted && city.invalid" class="invalid-feedback">
                                <div *ngIf="city.errors?.required">City Name is required</div>
                            </div>
                        </div>

                        <div class="form-group">                            
                            <input type="text" class="form-control form__input"  placeholder="Enter your state name" name="state" [(ngModel)]="loginModal.state" #state="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && state.invalid }" required />
                            <div *ngIf="registerForm.submitted && state.invalid" class="invalid-feedback">
                                <div *ngIf="state.errors?.required">Last Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">                            
                            <input type="text" class="form-control form__input"  placeholder="Enter your country name" name="country" [(ngModel)]="loginModal.country" #country="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && country.invalid }" required />
                            <div *ngIf="registerForm.submitted && country.invalid" class="invalid-feedback">
                                <div *ngIf="country.errors?.required">Last Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">                            
                            <input type="text" class="form-control form__input"  placeholder="Enter postal code" name="postalCode" [(ngModel)]="loginModal.postalCode" #postalCode="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && postalCode.invalid }" required />
                            <div *ngIf="registerForm.submitted && postalCode.invalid" class="invalid-feedback">
                                <div *ngIf="postalCode.errors?.required">Postal code is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- <label for="password">Password</label> -->
                            <input type="password" class="form-control form__input" placeholder="Enter password"
                                name="password" [(ngModel)]="loginModal.password" #password="ngModel"
                                [ngClass]="{ 'is-invalid': registerForm.submitted && password.invalid }" required minlength="6" />
                            <div *ngIf="registerForm.submitted && password.invalid" class="invalid-feedback">
                                <div *ngIf="password.errors?.required">Password is required</div>
                                <div *ngIf="password.errors?.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="col text-center">
                            <input type="submit" value="Register" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <p>Already have an account <span class="span-link" (click)="registerHere()">Login Here</span></p>
                </div>
            </div>
            <!-- Register end here -->
        </div>
    </div>
</div>