<!-- <form>
  <input type="text" placeholder="Credit Card #" name="cardNumber">
  <input type="text" placeholder="Expiration Month" name="expMonth">
  <input type="text" placeholder="Expiration Year" name="expYear">
  <input type="text" placeholder="CVC" name="cvc">
  <button (click)="chargeCreditCard()">Submit</button>
</form> -->
<div class="container-fluid">
  <div class="row text-end">
    <span class="span-link" (click)="logout()">Logout</span>
  </div>
</div>

<div class="container-fluid">
  <div class="row ">
    <div class="col-md-5 col-xs-12 col-sm-12 login_form ">
      <div class="container-fluid">
        <div class="row text-center">
          <h2 >Checkout</h2>
        </div>

        <div class="row">
          <form class="form-group" name="form"
            autocomplete="off">
            <div class="form-group p-1">
              <label for="userName">Credit Card#</label>
              <input type="text" class="form-control " name="cardNumber" placeholder="Credit Card" required />
            </div>
            <div class="form-group p-1">
              <label for="userName">Expiration Month#</label>
              <input type="text" class="form-control " name="expMonth" placeholder="Expiration Month" required />
            </div>
            <div class="form-group p-1">
              <label for="userName">Expiration Year#</label>
              <input type="text" class="form-control " name="expYear" placeholder="Expiration Year" required />
            </div>
            <div class="form-group p-1">
              <label for="userName">Card holder name#</label>
              <input type="text" class="form-control " name="nameOnCard" placeholder="Card holder name" required />
            </div>

            <div class="form-group p-1">
              <label for="userName">CVC#</label>
              <input type="text" class="form-control " name="cvc" placeholder="CVC" required />
            </div>
            <div class="form-group p-1">
              <label for="userName">Athlete Id#</label>
              <input type="text" class="form-control" name="athleteId" placeholder="Athlete Id" required />
            </div>

            <div class="form-group p-1">
              <label for="userName">Amount#</label>
              <input type="text" class="form-control " name="amount" placeholder="Amount" required />
            </div>
           
            <div class="col text-center">
              <input type="button"(click)="chargeCreditCard()" value="Charge" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>