
<div class="text-right">
<button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
</div>  
<div class="row justify-content-center">
<table class="table w-50 table-bordered table-striped " *ngIf="!loader">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
  <div class="d-flex justify-content-center">
  <div class="spinner-border" role="status" *ngIf="loader"> 
    <span class="sr-only text-primary">Loading...</span>
  </div>
</div>
